(edif pmi_ram_dpXbnonesadr35323532p1305de52
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2017 6 27 22 32 56)
      (program "SCUBA" (version "Diamond (64-bit) 3.9.1.119"))))
      (comment "/usr/local/diamond/3.9_x64/ispfpga/bin/lin64/scuba -w -bus_exp 7 -bb -arch xo2c00 -type bram -wp 10 -rp 0011 -data_width 3 -num_rows 32 -rdata_width 3 -read_reg1 outreg -gsr DISABLED -reset_rel async -memformat bin -cascade -1 -n pmi_ram_dpXbnonesadr35323532p1305de52 -pmi ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell pmi_ram_dpXbnonesadr35323532p1305de52
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename WrAddress "WrAddress(4:0)") 5)
            (direction INPUT))
          (port (array (rename RdAddress "RdAddress(4:0)") 5)
            (direction INPUT))
          (port (array (rename Data "Data(2:0)") 3)
            (direction INPUT))
          (port WE
            (direction INPUT))
          (port RdClock
            (direction INPUT))
          (port RdClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port WrClock
            (direction INPUT))
          (port WrClockEn
            (direction INPUT))
          (port (array (rename Q "Q(2:0)") 3)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "ASYNC"))
            (property MEM_LPC_FILE
              (string "pmi_ram_dpXbnonesadr35323532p1305de52__PMIP__32__3__3B"))
            (property MEM_INIT_FILE
              (string ""))
            (property CSDECODE_B
              (string "0b000"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "OUTREG"))
            (property REGMODE_A
              (string "OUTREG"))
            (property DATA_WIDTH_B
              (string "4"))
            (property DATA_WIDTH_A
              (string "4")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CSA2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CSB1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CSA1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CSB0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CSA0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef WEB (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB12 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA12 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB11 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA11 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB10 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA10 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB9 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA9 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB8 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA8 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB7 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA7 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADB0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef ADA0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB8 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA8 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB7 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA7 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB6 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA6 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB5 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA5 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB4 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA4 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB3 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIA3 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef DIB0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net dataout2
            (joined
              (portRef (member Q 0))
              (portRef DOB2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net dataout1
            (joined
              (portRef (member Q 1))
              (portRef DOB1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net dataout0
            (joined
              (portRef (member Q 2))
              (portRef DOB0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net WrClockEn
            (joined
              (portRef WrClockEn)
              (portRef OCEA (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CEA (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net clk
            (joined
              (portRef WrClock)
              (portRef CLKA (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTB (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef RSTA (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net RdClockEn
            (joined
              (portRef RdClockEn)
              (portRef OCEB (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))
              (portRef CEB (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net rdclk
            (joined
              (portRef RdClock)
              (portRef CLKB (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net wren
            (joined
              (portRef WE)
              (portRef WEA (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net datain2
            (joined
              (portRef (member Data 0))
              (portRef DIA2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net datain1
            (joined
              (portRef (member Data 1))
              (portRef DIA1 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net datain0
            (joined
              (portRef (member Data 2))
              (portRef DIA0 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net raddr4
            (joined
              (portRef (member RdAddress 0))
              (portRef ADB6 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net raddr3
            (joined
              (portRef (member RdAddress 1))
              (portRef ADB5 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net raddr2
            (joined
              (portRef (member RdAddress 2))
              (portRef ADB4 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net raddr1
            (joined
              (portRef (member RdAddress 3))
              (portRef ADB3 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net raddr0
            (joined
              (portRef (member RdAddress 4))
              (portRef ADB2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net waddr4
            (joined
              (portRef (member WrAddress 0))
              (portRef ADA6 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net waddr3
            (joined
              (portRef (member WrAddress 1))
              (portRef ADA5 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net waddr2
            (joined
              (portRef (member WrAddress 2))
              (portRef ADA4 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net waddr1
            (joined
              (portRef (member WrAddress 3))
              (portRef ADA3 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))
          (net waddr0
            (joined
              (portRef (member WrAddress 4))
              (portRef ADA2 (instanceRef pmi_ram_dpXbnonesadr35323532p1305de52_0_0_0))))))))
  (design pmi_ram_dpXbnonesadr35323532p1305de52
    (cellRef pmi_ram_dpXbnonesadr35323532p1305de52
      (libraryRef ORCLIB)))
)
