rvl_alias "clock_84_0000" "spi_controller_inst/clock";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "stdby_in" SITE "69" ;
LOCATE COMP "stdby1" SITE "38" ;
LOCATE COMP "switch0" SITE "109" ;
LOCATE COMP "osc_clk" SITE "40" ;
LOCATE COMP "clock_00_0192" SITE "34" ;
LOCATE COMP "clock_00_0096" SITE "32" ;
#
LOCATE COMP "led0" SITE "97" ;
LOCATE COMP "led1" SITE "98" ;
LOCATE COMP "led2" SITE "99" ;
LOCATE COMP "led3" SITE "100" ;
LOCATE COMP "led4" SITE "104" ;
LOCATE COMP "led5" SITE "105" ;
LOCATE COMP "led6" SITE "106" ;
LOCATE COMP "led7" SITE "107" ;

LOCATE COMP "spi_clk" SITE "44" ;
LOCATE COMP "spi_miso" SITE "45" ;
LOCATE COMP "spi_mosi" SITE "71" ;
LOCATE COMP "spi_csn" SITE "40" ;

LOCATE COMP "rs_232_rx" SITE "121" ;
LOCATE COMP "rs_232_tx" SITE "125" ;
IOBUF PORT "switch0" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "osc_clk" SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
VOLTAGE 1.140 V;
BLOCK JTAGPATHS;
