rvl_alias "clock_42_0000" "clock_42_0000";
RVL_ALIAS "clock_42_0000" "clock_42_0000"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "stdby_in" SITE "69" ;
#LOCATE COMP "stdby1" SITE "38" ;
LOCATE COMP "switch0" SITE "142" ;
#LOCATE COMP "switch0_gnd" SITE "138" ;
#
#LOCATE COMP "led0" SITE "97" ;
#LOCATE COMP "led1" SITE "98" ;
#LOCATE COMP "led2" SITE "99" ;
#LOCATE COMP "led3" SITE "100" ;
#LOCATE COMP "led4" SITE "104" ;
#LOCATE COMP "led5" SITE "105" ;
#LOCATE COMP "led6" SITE "106" ;
#LOCATE COMP "led7" SITE "107" ;
LOCATE COMP "regulator_12v_en" SITE "1" ;
LOCATE COMP "regulator_3_3v_sd_en" SITE "110" ;
LOCATE COMP "regulator_3_3v_adc_en" SITE "111" ;
LOCATE COMP "spi_clk" SITE "44" ;
LOCATE COMP "spi_miso" SITE "45" ;
LOCATE COMP "spi_mosi" SITE "71" ;
LOCATE COMP "spi_csn0" SITE "40" ;
LOCATE COMP "spi_csn1" SITE "68" ;
LOCATE COMP "spi_csn2" SITE "74" ;
LOCATE COMP "spi_csn3" SITE "76" ;
LOCATE COMP "spi_csn4" SITE "75" ;
LOCATE COMP "adc_drdy" SITE "57" ;
LOCATE COMP "adc_clock" SITE "58" ;
LOCATE COMP "adc_data_0" SITE "59" ;
LOCATE COMP "adc_data_1" SITE "25" ;
LOCATE COMP "adc_data_2" SITE "24" ;
LOCATE COMP "adc_data_3" SITE "23" ;
LOCATE COMP "rs232_rx" SITE "115" ;
LOCATE COMP "rs232_tx" SITE "114" ;
LOCATE COMP "temp_rxtx" SITE "32" ;
LOCATE COMP "therm_en1" SITE "84" ;
LOCATE COMP "therm_en2" SITE "85" ;
LOCATE COMP "therm_en3" SITE "82" ;
LOCATE COMP "therm_en4" SITE "83" ;
LOCATE COMP "regulator_main_source" SITE "99" ;
LOCATE COMP "regulator_12_source" SITE "5" ;
LOCATE COMP "regulator_5_source" SITE "100" ;
LOCATE COMP "regulator_3_3_main_source" SITE "106" ;
LOCATE COMP "regulator_3_3_adc_source" SITE "105" ;
LOCATE COMP "regulator_3_3_sd_source" SITE "104" ;
LOCATE COMP "test_a" SITE "11" ;
LOCATE COMP "test_b" SITE "12" ;
LOCATE COMP "test_c" SITE "13" ;
#LOCATE COMP "test_d" SITE "23" ;
#LOCATE COMP "test_e" SITE "24" ;
#LOCATE COMP "test_f" SITE "25" ;
#
IOBUF PORT "regulator_12v_en" PULLMODE=DOWN SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "regulator_3_3v_sd_en" PULLMODE=DOWN SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "regulator_3_3v_adc_en" PULLMODE=DOWN SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "temp_rxtx" PULLMODE=UP SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "rs232_tx" PULLMODE=UP SLEWRATE=FAST IO_TYPE=LVCMOS33 DRIVE=8 ;
#IOBUF PORT "test_signal_120ns"                          SLEWRATE=FAST   IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "switch0" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_csn1" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_csn2" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_csn3" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_csn4" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_main_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_12_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_5_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_3_3_sd_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_3_3_main_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "regulator_3_3_adc_source" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
VOLTAGE 3.280 V;
BLOCK JTAGPATHS ;

