(edif pmi_ram_dpXbnonesadr198256198256p134e434d
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2017 6 1 0 16 59)
      (program "SCUBA" (version "Diamond (64-bit) 3.9.0.99.2"))))
      (comment "C:/lscc/diamond/3.9_x64/ispfpga/bin/nt64/scuba -w -bus_exp 7 -bb -arch xo2c00 -type bram -wp 10 -rp 0011 -data_width 19 -num_rows 256 -rdata_width 19 -read_reg1 outreg -gsr DISABLED -reset_rel async -memformat bin -cascade -1 -n pmi_ram_dpXbnonesadr198256198256p134e434d -pmi ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell PDPW8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DI17
            (direction INPUT))
          (port DI16
            (direction INPUT))
          (port DI15
            (direction INPUT))
          (port DI14
            (direction INPUT))
          (port DI13
            (direction INPUT))
          (port DI12
            (direction INPUT))
          (port DI11
            (direction INPUT))
          (port DI10
            (direction INPUT))
          (port DI9
            (direction INPUT))
          (port DI8
            (direction INPUT))
          (port DI7
            (direction INPUT))
          (port DI6
            (direction INPUT))
          (port DI5
            (direction INPUT))
          (port DI4
            (direction INPUT))
          (port DI3
            (direction INPUT))
          (port DI2
            (direction INPUT))
          (port DI1
            (direction INPUT))
          (port DI0
            (direction INPUT))
          (port ADW8
            (direction INPUT))
          (port ADW7
            (direction INPUT))
          (port ADW6
            (direction INPUT))
          (port ADW5
            (direction INPUT))
          (port ADW4
            (direction INPUT))
          (port ADW3
            (direction INPUT))
          (port ADW2
            (direction INPUT))
          (port ADW1
            (direction INPUT))
          (port ADW0
            (direction INPUT))
          (port BE1
            (direction INPUT))
          (port BE0
            (direction INPUT))
          (port CEW
            (direction INPUT))
          (port CLKW
            (direction INPUT))
          (port CSW2
            (direction INPUT))
          (port CSW1
            (direction INPUT))
          (port CSW0
            (direction INPUT))
          (port ADR12
            (direction INPUT))
          (port ADR11
            (direction INPUT))
          (port ADR10
            (direction INPUT))
          (port ADR9
            (direction INPUT))
          (port ADR8
            (direction INPUT))
          (port ADR7
            (direction INPUT))
          (port ADR6
            (direction INPUT))
          (port ADR5
            (direction INPUT))
          (port ADR4
            (direction INPUT))
          (port ADR3
            (direction INPUT))
          (port ADR2
            (direction INPUT))
          (port ADR1
            (direction INPUT))
          (port ADR0
            (direction INPUT))
          (port CER
            (direction INPUT))
          (port OCER
            (direction INPUT))
          (port CLKR
            (direction INPUT))
          (port CSR2
            (direction INPUT))
          (port CSR1
            (direction INPUT))
          (port CSR0
            (direction INPUT))
          (port RST
            (direction INPUT))
          (port DO17
            (direction OUTPUT))
          (port DO16
            (direction OUTPUT))
          (port DO15
            (direction OUTPUT))
          (port DO14
            (direction OUTPUT))
          (port DO13
            (direction OUTPUT))
          (port DO12
            (direction OUTPUT))
          (port DO11
            (direction OUTPUT))
          (port DO10
            (direction OUTPUT))
          (port DO9
            (direction OUTPUT))
          (port DO8
            (direction OUTPUT))
          (port DO7
            (direction OUTPUT))
          (port DO6
            (direction OUTPUT))
          (port DO5
            (direction OUTPUT))
          (port DO4
            (direction OUTPUT))
          (port DO3
            (direction OUTPUT))
          (port DO2
            (direction OUTPUT))
          (port DO1
            (direction OUTPUT))
          (port DO0
            (direction OUTPUT)))))
    (cell pmi_ram_dpXbnonesadr198256198256p134e434d
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename WrAddress "WrAddress(7:0)") 8)
            (direction INPUT))
          (port (array (rename RdAddress "RdAddress(7:0)") 8)
            (direction INPUT))
          (port (array (rename Data "Data(18:0)") 19)
            (direction INPUT))
          (port WE
            (direction INPUT))
          (port RdClock
            (direction INPUT))
          (port RdClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port WrClock
            (direction INPUT))
          (port WrClockEn
            (direction INPUT))
          (port (array (rename Q "Q(18:0)") 19)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1
            (viewRef view1 
              (cellRef PDPW8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "ASYNC"))
            (property MEM_LPC_FILE
              (string "pmi_ram_dpXbnonesadr198256198256p134e434d__PMIP__256__19__19B"))
            (property MEM_INIT_FILE
              (string ""))
            (property CSDECODE_R
              (string "0b000"))
            (property CSDECODE_W
              (string "0b001"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE
              (string "OUTREG"))
            (property DATA_WIDTH_R
              (string "18"))
            (property DATA_WIDTH_W
              (string "18")))
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0
            (viewRef view1 
              (cellRef PDPW8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "ASYNC"))
            (property MEM_LPC_FILE
              (string "pmi_ram_dpXbnonesadr198256198256p134e434d__PMIP__256__19__19B"))
            (property MEM_INIT_FILE
              (string ""))
            (property CSDECODE_R
              (string "0b000"))
            (property CSDECODE_W
              (string "0b001"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE
              (string "OUTREG"))
            (property DATA_WIDTH_R
              (string "18"))
            (property DATA_WIDTH_W
              (string "18")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef BE1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef BE0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef BE1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef BE0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSR2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSW2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSR1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSW1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSR0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR12 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSR2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef CSW2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef CSR1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef CSW1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef CSR0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADR12 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADR3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADR2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADR1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADR0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef ADW8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI17 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI16 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI15 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI14 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI13 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI12 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI11 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI10 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef DI1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net dataout18
            (joined
              (portRef (member Q 0))
              (portRef DO9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net dataout17
            (joined
              (portRef (member Q 1))
              (portRef DO8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout16
            (joined
              (portRef (member Q 2))
              (portRef DO7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout15
            (joined
              (portRef (member Q 3))
              (portRef DO6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout14
            (joined
              (portRef (member Q 4))
              (portRef DO5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout13
            (joined
              (portRef (member Q 5))
              (portRef DO4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout12
            (joined
              (portRef (member Q 6))
              (portRef DO3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout11
            (joined
              (portRef (member Q 7))
              (portRef DO2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout10
            (joined
              (portRef (member Q 8))
              (portRef DO1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout9
            (joined
              (portRef (member Q 9))
              (portRef DO0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout8
            (joined
              (portRef (member Q 10))
              (portRef DO17 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout7
            (joined
              (portRef (member Q 11))
              (portRef DO16 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout6
            (joined
              (portRef (member Q 12))
              (portRef DO15 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout5
            (joined
              (portRef (member Q 13))
              (portRef DO14 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout4
            (joined
              (portRef (member Q 14))
              (portRef DO13 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout3
            (joined
              (portRef (member Q 15))
              (portRef DO12 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout2
            (joined
              (portRef (member Q 16))
              (portRef DO11 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout1
            (joined
              (portRef (member Q 17))
              (portRef DO10 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net dataout0
            (joined
              (portRef (member Q 18))
              (portRef DO9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net WrClockEn
            (joined
              (portRef WrClockEn)
              (portRef CEW (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CEW (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net clk
            (joined
              (portRef WrClock)
              (portRef CLKW (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CLKW (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RST (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef RST (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net RdClockEn
            (joined
              (portRef RdClockEn)
              (portRef OCER (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CER (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef OCER (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))
              (portRef CER (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net rdclk
            (joined
              (portRef RdClock)
              (portRef CLKR (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CLKR (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net wren
            (joined
              (portRef WE)
              (portRef CSW0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef CSW0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net datain18
            (joined
              (portRef (member Data 0))
              (portRef DI0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net datain17
            (joined
              (portRef (member Data 1))
              (portRef DI17 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain16
            (joined
              (portRef (member Data 2))
              (portRef DI16 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain15
            (joined
              (portRef (member Data 3))
              (portRef DI15 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain14
            (joined
              (portRef (member Data 4))
              (portRef DI14 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain13
            (joined
              (portRef (member Data 5))
              (portRef DI13 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain12
            (joined
              (portRef (member Data 6))
              (portRef DI12 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain11
            (joined
              (portRef (member Data 7))
              (portRef DI11 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain10
            (joined
              (portRef (member Data 8))
              (portRef DI10 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain9
            (joined
              (portRef (member Data 9))
              (portRef DI9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain8
            (joined
              (portRef (member Data 10))
              (portRef DI8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain7
            (joined
              (portRef (member Data 11))
              (portRef DI7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain6
            (joined
              (portRef (member Data 12))
              (portRef DI6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain5
            (joined
              (portRef (member Data 13))
              (portRef DI5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain4
            (joined
              (portRef (member Data 14))
              (portRef DI4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain3
            (joined
              (portRef (member Data 15))
              (portRef DI3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain2
            (joined
              (portRef (member Data 16))
              (portRef DI2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain1
            (joined
              (portRef (member Data 17))
              (portRef DI1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net datain0
            (joined
              (portRef (member Data 18))
              (portRef DI0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))))
          (net raddr7
            (joined
              (portRef (member RdAddress 0))
              (portRef ADR11 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR11 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr6
            (joined
              (portRef (member RdAddress 1))
              (portRef ADR10 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR10 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr5
            (joined
              (portRef (member RdAddress 2))
              (portRef ADR9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR9 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr4
            (joined
              (portRef (member RdAddress 3))
              (portRef ADR8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR8 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr3
            (joined
              (portRef (member RdAddress 4))
              (portRef ADR7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr2
            (joined
              (portRef (member RdAddress 5))
              (portRef ADR6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr1
            (joined
              (portRef (member RdAddress 6))
              (portRef ADR5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net raddr0
            (joined
              (portRef (member RdAddress 7))
              (portRef ADR4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADR4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr7
            (joined
              (portRef (member WrAddress 0))
              (portRef ADW7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW7 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr6
            (joined
              (portRef (member WrAddress 1))
              (portRef ADW6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW6 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr5
            (joined
              (portRef (member WrAddress 2))
              (portRef ADW5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW5 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr4
            (joined
              (portRef (member WrAddress 3))
              (portRef ADW4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW4 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr3
            (joined
              (portRef (member WrAddress 4))
              (portRef ADW3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW3 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr2
            (joined
              (portRef (member WrAddress 5))
              (portRef ADW2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW2 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr1
            (joined
              (portRef (member WrAddress 6))
              (portRef ADW1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW1 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))
          (net waddr0
            (joined
              (portRef (member WrAddress 7))
              (portRef ADW0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_0_1))
              (portRef ADW0 (instanceRef pmi_ram_dpXbnonesadr198256198256p134e434d_0_1_0))))))))
  (design pmi_ram_dpXbnonesadr198256198256p134e434d
    (cellRef pmi_ram_dpXbnonesadr198256198256p134e434d
      (libraryRef ORCLIB)))
)
